<header.shrinked>
    <%! widget:nav !%>
    <div.centerArea>
        <h1>归档</h1>
        <h3>共<%= ginfo.postCount -%>篇文章</h3>
    </div>
</header>
<div.wrapper>
    <%! widget:leftbar !%>
    <div.wrapperItem.wrapperMain>
        <div.widget.nohover.postList>
            <h2>文章总览</h2>
            <each (DATE_POSTS~item)>
                <div.inPostList>
                    <span.postData><%= item.date -%></span>
                    <br/>
                    <a [postCardTitle small] href="<%= item.src %>"><%= item.title -%></a>
                </div>
            </each>
        </div>
    </div>
    <%! widget:rightbar !%>
</div>
<%! widget:footer !%>