<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="<%= info.avatar -%>">
        <meta charset="utf-8">
        <%! builtin:title !%>
        <%! builtin:features !%>
    </head>
    <body>
        <%! layout:body !%>
        <footer>
            <div.footer.:fI_fJC>
                <div.:mw>
                    <h3.m0>网站</h3>
                    <a href="https://github.com/">Github</a><br/>
                    <a href="https://netlify.com/">Netlify</a><br/>
                    <a href="https://gnome.org/">GNOME</a><br/>
                </div>
                <div.:mw>
                    <h3.m0>关于Hogger</h3>
                    <a href="https://github.com/0xarch/0xarch.github.io/">源代码</a><br/>
                </div>
            </div>
        </footer>
    </body>
</html>
