<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="<%= info.avatar -%>">
    <meta charset="utf-8">
        <%! builtin:title !%>
        <%! builtin:features !%>
    </head>
    <body>
        <%! layout:body !%>
    </body>
</html>
