<header.shrinked>
    <%! widget:nav !%>
    <div.centerArea>
        <h1>分类</h1>
        <h3>共<@ginfo.cateCount>个分类</h3>
    </div>
</header>
<div.wrapper>
    <%! widget:leftbar !%>
    <div.wrapperItem.wrapperMain>
        <div.widget.nohover.postList>
            <h2>分类总览</h2>
                <each (CATEGORY_POSTS~Category)>
                <div.inPostList>
                    <h3.m0><@Category.cate></h3>
                    <each (Category.incl~item)>
                        <%! widget:postlisting !%>
                    </each>
                </div>
            </each>
        </div>
    </div>
    <%! widget:rightbar !%>
</div>