<header.shrinked>
    <%! widget:nav !%>
    <div.centerArea>
        <h1>分类</h1>
        <h3>共<%= ginfo.cateCount -%>个分类</h3>
    </div>
</header>
<div.wrapper>
    <%! widget:leftbar !%>
    <div.wrapperItem.wrapperMain>
        <div.widget.nohover.postList>
            <h2>分类总览</h2>
            <% CATEGORY_POSTS.forEach(Category=>{ %>
                <div.inPostList>
                    <h3.m0><%= Category.cate -%></h3>
                    <% Category.incl.forEach(inclItem=>{ %>
                        <div>
                            <a href="<%= inclItem.src %>"><%= inclItem.title -%></a>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
        </div>
    </div>
    <%! widget:rightbar !%>
</div>
<%! widget:footer !%>