<link type="text/css" rel="stylesheet" href="/css/index.css">
<header>
    <%! widget:nav !%>
    <div class="centerArea">
        <h1><%! builtin:siteTitle !%></h1>
        <div class=":fC_fJC">
            <div><img class="avatar" src="<%= info.avatar %>"/></div>
            <div>
                <a href="<%= info.url-%>"><%= info.name -%></a><br/>
                <p style="font-size:large"><%= info.note -%></p>
            </div>
        </div>
    </div>
</header>
<main class="wrapper">
    <%! widget:leftbar !%>
    <div class="wrapperItem wrapperMain">
        <% POSTS.slice(0,5).forEach(item=>{ -%>
            <%! widget:postcard !%>
        <% }) -%>
    </div>
    <div class="wrapperItem wrapperRight">
        <%! widget:about !%>
        <%! widget:announcement !%>
        <%! widget:archivelist !%>
        <% if (!info.features.hasThirdBar) { -%>
                <%! builtin:extensions !%>
        <% } -%>
    </div>
</main>
<%! widget:footer !%>
