<link type="text/css" rel="stylesheet" href="/css/index.css">
<header>
    <%! widget:nav !%>
    <div.centerArea>
        <h1><%! builtin:siteTitle !%></h1>
        <div class=":fC_fJC">
            <div><img [avatar] src="<%= info.avatar %>"/></div>
            <div>
                <a href="<%= info.url-%>"><%= info.name -%></a><br/>
                <p style="font-size:large"><%= info.note -%></p>
            </div>
        </div>
    </div>
</header>
<main.wrapper>
    <%! widget:leftbar !%>
    <div.wrapperItem.wrapperMain>
        <each (RECENT_POSTS~item)>
            <%! widget:postcard !%>
        </each>
    </div>
    <%! widget:rightbar !%>
</main>
<%! widget:footer !%>
