<header>
    <%! widget:nav !%>
    <div class="centerArea">
        <h1><%! builtin:title !%></h1>
        <div class="flexItem flexJustifyCenter flexColumn_Portrait">
            <div>
                <img class="avatar" src="<%= info.avatar %>"/>
            </div>
            <div>
                <a href="<%= info.url-%>"><%= info.name -%></a>
                <br/>
                <p><%= info.note -%></p>
            </div>
        </div>
    </div>
</header>
<main class="wrapper">
    <%! widget:leftbar !%>
    <div class="wrapperItem wrapperMain">
        <% POSTS.slice(0,5).forEach(item=>{ -%>
            <%! widget:postcard !%>
        <% }) -%>
    </div>
    <div class="wrapperItem wrapperRight">
        <%! widget:about !%>
        <%! widget:announcement !%>
        <%! widget:archivelist !%>
        <% if (!info.features.hasThirdBar) { -%>
                <%! builtin:extensions !%>
        <% } -%>
    </div>
</main>
<%! widget:footer !%>
