listBox,list,listActions,widget
{display:block}
listBox>*{
    border-radius: var(--rounded-corner);
    background:var(--inner-bg);
    margin: 1em;
    padding:.25em;
    padding-left:1em
}
listBox>*:hover{
    background:var(--border-color)
}
listBox>*.lp{
    margin:.5em;
    padding:.2em;
    padding-left:1em
}
listActions{
    border-radius: var(--rounded-corner);
    box-shadow:var(--card-box-shadow);
}
listActions>*{
    margin:0;
}