.meta { color: var(--inherit-color) }
.postCardTitle{
    margin-bottom: 0.3em;
    font-size: 2em;
    line-height: 1.4;
    color:var(--default-color);
    font-weight: bold;
}
.postCardTitle.small{ font-size: 1.5em }
.postContent { word-wrap: break-word; word-break: keep-all }
.postContent a{ text-decoration: underline }
.centerArea{
    width:70vw;
    height:50%;
    text-align: center;
    top:25%;
    left:15vw;
    font-weight: bold;
    position: absolute;
    color:white;
}
.centerArea h1{ font-size: 48pt; margin:0 }
.centerArea a{
    font-size:24pt;
    font-weight: bolder;
    color:white;
    margin:0;
    background:var(--blue1);
    border-radius: 100pt;
    padding:.25em;
}
.centerArea a:hover{
    color:white;
    background:var(--blue3);
}
.count{ font-size: larger; font-weight: bold }
.centered{ text-align: center }