.wrapper{
    display: flex;
    margin:0px auto;
    padding:2rem 15px;
    max-width: 1200px;
    width: 100%;
}
.wrapperMain{ flex:3 }
.wrapperRight{ padding-left:15px; flex:1 }
.wrapsFather>*{ margin-top: 1em }
.fI,.fR,.fC{ display:flex }
.fR{ flex-direction:row }
.fC{ flex-direction:column }
.flAC{ align-items:center }
.flJC{ justify-content:center }
.mr,.mw{ margin-right:.5em }
.ml,.mw{ margin-left:.5em }
.mt,.mh{ margin-top:.5em }
.mb,.mh{ margin-bottom:.5em }
.m0{ margin:0 }
.sticky{ position: sticky; top:6rem }
@media only screen and (orientation:portrait){
    .wrapper{ flex-direction: column }
    .wrapperRight{ padding-left: 0; margin-top: 1em }
    html{ font-size: 28px !important; line-height: 1.3 !important }
    header{ height:30rem !important }
    nav .navButton{ display: block }
    nav .navItem{ display: none }
    nav:hover .navItem{ display: block }
    :root{ --rounded-corner:2rem !important }
    .sticky{ position: relative;top:0 }
}
