.wrapper{
    display: flex;
    margin:0px auto;
    padding:2rem 15px;
    max-width: 1200px;
    width: 100%;
}
.wrapperMain{ flex:3 }
.wrapperRight{ padding-left:15px; flex:1 }
.wrapperItem>*:not(:first-child){ margin-top: 1em }
.flexItem,.flexRow,.flexColumn,.fI,.fR,.fC{ display: flex }
.flexRow,.fR{ flex-direction: row }
.flexColumn,.fC{ flex-direction: column }
.flexAlignCenter,.flAC{ align-items: center }
.flexJustifyCenter,.flJC{ justify-content: center }
.mr,.marginRight,.mw{ margin-right: .5em }
.ml,.marginLeft,.mw{ margin-left: .5em }
.mt,.marginTop,.mh{ margin-top: .5em }
.mb,.marginBottom,.mh{ margin-bottom: .5em }
.m0{ margin:0 }
@media only screen and (orientation:portrait){
    .wrapper{ flex-direction: column }
    .wrapperRight{ padding-left: 0; margin-top: 1em }
    html{ font-size: 28px !important; line-height: 1.3 !important }
    header{ height:30rem !important }
    nav .navButton{ display: block }
    nav .navItem{ display: none }
    nav:hover .navItem{ display: block }
}
