@import url("/css/layout.css");
@import url("/css/color.css");
@import url("/css/item.css");
@import url("/css/widget.css");
@font-face{
    font-family: "Cantarell";
    src: "/css/Cantarell-VF.otf";
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .3s ease-in-out;
}
html{ font-size: 14px; font-family: "Cantarell"; line-height: 1.15 }
body{
    line-height: 2;
    min-height: 100%;
    position: relative;
    background-color: var(--bg);
    color:var(--default-color);
    margin: 0;
}
a{ text-decoration: none; color:var(--default-color) }
a:hover{ color:rgba(73,177,245,0.7) }
header{
    height:80vh;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(36,31,49) 
}
header.shrinked{ height:30rem }
header nav{
    flex-wrap: wrap;
    padding:0 36px;
    width: 100%;
    min-height: 60px;
    height: max-content;
    font-size: 1.3rem;
    color:white;
    background-color: rgb(36,31,49);
    position: fixed;
    font-weight: 700;
    z-index:2;
}
.blogName{ flex:1 }
.navItem a,footer a{ color:white }
.navButton{ display: none }
footer{ position: relative; background-color: rgb(20,22,23); padding:2rem 1rem; text-align: center }
footer h3 { color:#858585 }