.widgetHeaderLink{ float: right; color: var(--deafault-color) }
.widget .header{
    font-size: 1.2em;
    padding-bottom: .3em;
    color:var(--default-color);
    display: block;
}
.widget{
    border-radius: var(--rounded-corner);
    background-color: var(--widget-bg);
    padding:1rem 1.2rem;
    position: relative;
    transition: box-shadow .3s;
    border:1px solid var(--border-color);
}
.widget:not(.nohover):hover{ box-shadow: var(--card-box-shadow-hover) }
.avatar{
    height:8em;
    width: 8em;
    object-fit: cover;
    border-radius: 100%;
}
.listItem,.nbButton{ border-radius: var(--rounded-corner) }
.listItem{ background:var(--inner-bg); margin: 1em; padding:.25em; padding-left:1em }
.listItem:hover{ background:var(--border-color) }
.listItem.lp{ margin:.5em; padding:.2em; padding-left:1em }
.nbButton{ padding:.35em; display: inline-block; cursor: default }
.nbButton:hover{ background:rgba(255,255,255,0.2) }