.card.post{
    padding: 0px;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.card.post>.image-fill{
    overflow: hidden;
    font-size: 0px;
    max-height: 18rem;
}

.card.post>.image-fill>img{
    object-fit: fill;
    width: 100%;
}

.card.post>.detail{
    color: var(--text-foreground);
    padding: 8px;
}

.card.post>.detail>.date{
    padding: 4px;
    border-radius: 8px;
    opacity: .85;
    width: 50%;
    text-align: center;
    font-weight: bold;
    background: var(--text-background);
}
.card.post>.detail>.title{
    font-size: 150%;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none;
}

.readmore{
    margin: 4px;
    padding: 2px;
    border-radius: 2px;
    background-color: var(--text-background-25);
    text-decoration: none;
}
.detail>.meta>span{
    margin: 4px;
    padding: 2px;
}

.card.post .less{
    margin: .5rem;
}