body{
    font-family: 'Google Sans Text';
    margin: 0px;
}

hr {
    width: 80%;
}
:is(button,a[\@as=button],.button),
:is(button,a[\@as=button],.button) *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: inherit;
}
toolbar{
    color:var(--basisTextColor);
}
paper{
    overflow: auto;
    height: calc(100% - var(--toolbarHeight));
    background-color: var(--me-color-surface-0);

}
url{
    display: none;
}
code.hljs {
    border-radius: 8px;
    display: block;
    padding: 8px;
    margin: 8px;
    color: var(--me-color-surface-outline)
}

code, code.hljs {
    background-color: var(--me-color-surface);
    padding: .35rem;
}
.p8{
    padding: .75rem;
}
.f1{
    flex: 1;
}
table {
    text-align: center;
}
hr {
    opacity: .25;
}
*[bg=none]{
    background: transparent;
}
*[bg=color],.bg_cld{
    background-color: var(--primary-background);
}
.f_eaj{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card.about>.info-1>img{
    max-width: min(50%,50vw);
    object-fit: fill;
    display:block;
    border-radius: 999px;
}
.card.about>.info-1{
    align-items:center;
}
.card.about>.info-1>.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2px;
}
.card.about>.info-2{
    align-items:center;
    justify-content:center;
    gap:12px;
}
.card.about>.info-2>*{
    align-items:center;
    display:flex;
    flex-direction:column;
}
.card.about>.info-2>*>p{
    margin: .25rem;
    padding: .25rem;
    font-size: 1.1rem;
}
a.followme{
    border-radius: 1.5rem;
    background: #3273dc;
    color: #fff;
    display: flex;
    width: 100%;
    align-items:center;
    justify-content:center;
    padding: .25rem;
    min-height: 2.5rem;
    max-height: 3rem;
    max-width: 50vw;
    text-decoration: none;
}
.card.recent>a{
    text-decoration: none;
}
.card>.heading{
    font-size: 1.5rem;
}
.logo-of-theme{
    --r: 1.75rem;
    height: calc(2*var(--r));
    width: calc(1.73205081*var(--r));
    overflow: hidden;
}
.logo-of-theme{
    background: var(--brand-color);
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%, 0 25%);
}
.logo-of-theme::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo-of-theme::after{
    content: 'ARCH';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchUrl{
    display: none;
}

#searchPanel{
    position: fixed;
    background-color: var(--text-background);
    width: 100vw;
    min-height: 30vh;
    z-index: 1002;
    box-shadow: var(--card-box-shadow-hover);
    display: none;
    left: 0;
    top: 0;
}

#searchPanel[open='true']{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchPanel>*{
    width: 100%;
    padding: .75rem;
}

#searchPanel .closeButton{
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0px 0px 2px var(--shadow-2);
    background-color: crimson;
    color: #fff;
    padding: .75rem;
    text-align: center;
}

#searchPanel .onSearch{
    margin-left: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 2px var(--shadow-2);
    background-color: var(--brand-color);
    color: #fff;
    padding: .75rem;
    text-align: center;
}

#searchPanel .contentP{
    padding: .5rem;
    display: flex;
    align-items: center;
}

#searchPanel .contentP>a{
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    border: 1px solid var(--brand-color);
    text-align: center;
}

input{
    padding: .35rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--brand-color-50);
}

input:focus{
    border: 1px solid var(--brand-color);
}

.card.foot-navigator{
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.foot-navigator>a{
    padding: 1.5rem;
    background: var(--brand-color);
    color: #fff;
}

.foot-navigator>.disabled{
    background: var(--text-foreground-50);
    color: var(--text-background-50);
}