body {
    margin: 0;
    padding: 0;
}

header {
    min-height: 4.5rem;
}

nav:first-child:last-child {
    flex: 1;
}

box {
    display: block;
}

widget {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 23vw;
    margin: 1.25rem;
    background: var(--widget-bg);
    border-radius: var(--m-large-round);
}

widget[tag=PostCard]{
    & container{
        display:flex;
    }
    & a.action{
        text-overflow: ellipsis;
        overflow: hidden;
        display:flex;
    }
}

nav>* {
    text-overflow: ellipsis;
    overflow: hidden;
    display:flex;
}

widget:hover {
    box-shadow: var(--card-box-shadow-hover);
}

aside {
    min-width: 22vw;
    display: block;
    flex: 1.5 !important;
    & box{
        position: sticky;
        top: 8rem;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

flexmain {
    align-items: unset;
    max-width: 1200px;
    margin: 0px auto;
    padding: 2rem 15px;
    width: 100vw;
    height: 100%;
}

shell {
    width: 100%;
}
