.postData{ color:#858585 }
.recentPosts{ margin:.25em }
.postCardTitle{
    margin-bottom: 0.3em;
    font-size: 2em;
    line-height: 1.4;
    color:var(--color);
    font-weight: bold;
}
.postCardTitle.small{ font-size: 1.5em }
.postContent { word-wrap: break-word; word-break: keep-all }
.postContent a{ text-decoration: underline }
.menuItems{
    display: inline-block;
    font-size: smaller;
    cursor: default;
    position: relative;
}
.menuItems::after{
    content:'';
    position: absolute;
    top:1.7em;
    left:0;
    background-color: var(--blue3);
    height:3px;
    width: 0%;
    transition: width .3s ease-in-out;
}
.menuItems:hover::after{ width: 100% }
.centerArea{
    width:70vw;
    height:50%;
    text-align: center;
    top:25%;
    left:15vw;
    font-weight: bold;
    position: absolute;
    color:white;
}
.centerArea h1{ font-size: 48pt; margin:0 }
.centerArea a{
    font-size:24pt;
    font-weight: bolder;
    color:white;
    margin:0;
    background:var(--blue1);
    border-radius: 100pt;
    padding:.25em;
}
.centerArea a:hover{
    color:white;
    background:var(--blue3);
}
.count{ font-size: larger; font-weight: bold }
.centered{ text-align: center }
.flexItem,.flexRow,.flexColumn{ display: flex }
.flexRow{ flex-direction: row }
.flexColumn{ flex-direction: column }
.flexAlignCenter{ align-items: center }
.flexJustifyCenter{ justify-content: center }
.mr,.marginRight{ margin-right: .5em }
.ml,.marginLeft{ margin-left: .5em }
.mt,.marginTop{ margin-top: .5em }
.mb,.marginBottom{ margin-bottom: .5em }
.m0{ margin:0 }