.metaItem{
    color:#858585;
}
.cardLikedItem{
    background-color: var(--bg);
    border-radius: 9px;
    padding:1rem 1.2rem;
    position: relative;
    box-shadow: var(--card-box-shadow);
    transition: box-shadow .3s;
}
.cardLikedItem:hover{
    box-shadow: var(--card-box-shadow-hover);
}
.recentPosts{
    margin:.25em;
}
.cardHeader{
    font-size: 1.2em;
    padding-bottom: .3em;
}
.lessContentItem{
    margin-top: .3em;
    color:var(--font-color);
}
.postCard{
    display: flex;
    height: 20em;
    flex-direction: row;
    align-items: center;
}
.postCardInfoContainer{
    width: 100%;
    display: inline-block;
    padding:0 40px;
}
.postCardTitle{
    margin-bottom: 0.3em;
    font-size: 1.72em;
    line-height: 1.4;
    color:var(--color);
    font-weight: bold;
}
.postCardTitle.small{
    font-size: medium;
}
.menuItems{
    display: inline-block;
    font-size: smaller;
    cursor: default;
    position: relative;
}
.menuItems::after{
    content:'';
    position: absolute;
    top:1.7em;
    left:0;
    background-color: var(--blue3);
    height:3px;
    width: 0%;
    transition: width .3s ease-in-out;
}
.menuItems:hover::after{
    width: 100%;
}
.centerArea{
    width:70vw;
    height:50%;
    text-align: center;
    top:25%;
    left:15vw;
    font-weight: bold;
    position: absolute;
    color:white;
}
.centerArea h1{
    font-size: 48pt;
    margin:0;
}
.centerArea a{
    font-size:24pt;
    font-weight: bolder;
    color:white;
    margin:0;
    background:var(--blue1);
    border-radius: 100pt;
    padding:.25em;
}
.ontop{
    display: inline-block;
    height:1em;
    width: 1em;
    background:var(--red3);
    border-radius: 1em;
    margin:auto .75em;
    position: relative;
}
.count{
    font-size: larger;
    font-weight: bold;
}
.centered{
    text-align: center;
}
.flexItem{
    display: flex;
}
.flexRow{
    flex-direction: row;
}
.flexColumn{
    flex-direction: column;
}
.flexAlignCenter{
    align-items: center;
}
.flexJustifyCenter{
    justify-content: center;
}
.mr{
    margin-right: .5em;
}
.ml{
    margin-left: .5em;
}
.mt{
    margin-top: .5em;
}
.mb{
    margin-bottom: .5em;
}
.m0{
    margin:0;
}