@import url("boxes.css");
@import url("widgets.css");

*[o-display=block] {
    display: block;
}

:root {
    --rounded-corner: 12px;
}
/* M3TK Experimental */
:root {
    --m-large-round: 22px;
    --m-medium-round: 18px;
    --m-small-round: 12px;
}
body {
    font-size: 12pt;
    --padding: .5rem;
}

@media (prefers-color-scheme:light) {
    :root {
        --bg: #ffffff;
        --widget-bg: #fafafa;
        --code-bg: #eff0fa;
        --color: #111;
        --card-box-shadow-hover: 0px 3px 8px 6px rgba(7, 17, 27, 0.15);
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg: #1e1e1e;
        --widget-bg: #242424;
        --code-bg: #353535;
        --color: #b9b9b9;
        --card-box-shadow-hover: 0px 3px 8px 6px rgba(67, 77, 87, 0.2);
    }
}

@media only screen and (orientation:portrait) {
    flexmain {
        flex-direction: column;
    }

    body {
        font-size: 15.5pt;
        --padding: .25rem;
    }
}

code.hljs,code {
    background-color: var(--code-bg);padding:.15rem;border-radius: var(--m-medium-round);
}