*[disable~=shadow],
*.\!shadow,
*[\!shadow] {
    box-shadow: none !important;
}

hr {
    width: 80%;
}

a {
    color: var(--color);
}

code.hljs {
    border-radius: var(--rounded-corner);
}

*[\!center] {
    text-align: center;
}

action,
.action {
    white-space: nowrap;
    padding: var(--padding);
}

.button {
    text-decoration: none;
}


table {
    text-align: center;
}

calendar{
    width: 100%;
    align-items: center;
    & label{
        width: 100%;
        & fbox[FullWidth]{
            width: calc(3.5rem * 7);
        }
    }
}
.gt-header-controls-tip{
    display: block;
}

*[m0]{
    margin: 0;
}
*[p0]{
    padding: 0;
}
*[wt1]{
    width: 100%;
}
*[wt\.9]{
    width: 90%;
}
*[wt\.8]{
    width: 80%;
}
.f-1{
    flex:1;
}
.f-5{
    flex:.5;
}
.f-75{
    flex:.75;
}
*[dirC]{
    flex-direction: column;
}
*[dirR]{
    flex-direction: row;
}
*[o-text=c1]{
    text-overflow: ellipsis;
    overflow: hidden;
}
*[mr="3"]{
    border-radius: var(--m-large-round);
}
*[mr="2"]{
    border-radius: var(--m-medium-round);
}
*[mr="1"]{
    border-radius: var(--m-small-round);
}
*[bg=none]{
    background: transparent;
}
*[bg=color],.bg_cld{
    background-color: var(--background-colored);
}
*[\!br]{
    border: none;
}
img[tag=Avatar],img.avatar{
    object-fit: fill;
    border-radius: 18pt;
}
pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    & >a.next,& >a.prev,& >a.page{
        text-decoration: none;
        font-weight: bold;
        line-height: 1.12rem;
        padding: .5rem;
        margin: .25rem;
        border-radius: var(--m-small-round);
    }
    & >a.disabled,& >a.disabled{
        opacity: .5;
    }
    & >a.page:hover{
        color:var(--primary-text-3);
        background-color:var(--primary-color-3);
    }
    & >a.page.this{
        color:var(--primary-text-1);
        background-color: var(--primary-color-1);
    }
}