*[disable~=shadow],
*.\!shadow {
    box-shadow: none !important;
}

hr {
    width: 80%;
}

a {
    color: var(--color);
}

code.hljs {
    border-radius: var(--rounded-corner);
}

*[\!center] {
    text-align: center;
}

action,
.action {
    white-space: nowrap;
    padding: .5rem;
}

.action {
    text-decoration: none;
}

.action[Outline] {
    color: var(--primary-color-2);
}

table {
    text-align: center;
}