:root {
    --brand-color: #3273dc;
    --brand-color-25: #3273dc44;
    --brand-color-50: #3273dc88;
    --brand-color-75: #3273dccc;
}

@media (prefers-color-scheme:light) {
    :root {
        --bg: #f7f7f7;
        --text-background: #fff;
        --text-background-25: #fff4;
        --text-background-50: #fff8;
        --text-background-75: #fffc;
        --text-foreground: #4a4a4a;
        --text-foreground-25: #4a4a4a4f;
        --text-foreground-50: #4a4a4a8f;
        --text-foreground-75: #4a4a4acf;
        --code-bg: #eff0fa;
        --card-box-shadow-hover: 0px 3px 8px 6px rgba(7, 17, 27, 0.15);
        --shadow-1: #0000000d;
        --shadow-2: #00000021;
        --bg-filter: blur(100px) saturate(80%) brightness(120%);
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg: #000;
        --text-background: #141414;
        --text-background-25: #1414144f;
        --text-background-50: #1414148f;
        --text-background-75: #141414cf;
        --text-foreground: #fff;
        --text-foreground-25: #fff4;
        --text-foreground-50: #fff8;
        --text-foreground-75: #fffc;
        --code-bg: #151515;
        --card-box-shadow-hover: 0px 3px 8px 6px rgba(67, 77, 87, 0.2);
        --shadow-1: #ffffff0d;
        --shadow-2: #ffffff21;
        --bg-filter: blur(100px) saturate(60%) brightness(60%);
    }
}

.ta-c{text-align:center}
.flex {display:flex}
.column{flex-direction:column}
.row {flex-direction:row}
.alc{align-items:center}
.jcc{justify-content:center}
.jc-se{justify-content:space-evenly}
.fgap{gap:.75rem}
.nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.bg-filter{backdrop-filter:var(--bg-filter)}

html{overflow:scroll;font-size:14px;text-rendering:optimizeLegibility}
body{min-height:100%;margin:0;padding:0;display: flex;flex-direction: column;align-items: center;color:var(--text-foreground);background:var(--bg);font-size:1em;font-weight:400;line-height:1.5;font-family:'Open Sans','Microsoft YaHei',sans-serif}
*{position:relative;box-sizing:border-box}
a{-webkit-tap-highlight-color:transparent;user-select:none;text-decoration:none;color:inherit}
::selection{background-color:var(--brand-color-25);color:var(--brand-color)}
.onbrand:hover{color:var(--brand-color)}
.go-link{padding:.75rem;transition:color .2s ease-in-out;color:#fff}
.logo{font-size:1.75rem;font-weight:bolder}

.topbar-container{width:100%;z-index:100;min-height:15rem}
.topbar{display:flex;align-items:center}
.topbar>.brand{padding:.5rem;min-height:2rem}
.topbar>.go{margin:0 1rem 0 auto;display:flex}
#main{padding:0;min-height:calc(100vh - 13rem)}
.sidebar,.sidebar-r{top:.75rem;padding-top:.75rem;align-self:flex-start}

.heading,.Heading,.Card>header{font-size:1.5rem;margin:.45rem;font-weight:600;cursor:default;display:block}
footer{width:100%;height:5rem;background:var(--text-background);display:flex;align-items:center;padding:1rem}
footer>*{margin:.25rem}

.arrow{padding:.25rem;font-weight:600}
.RowList>hr{margin:0}
.RowList>hr:last-child{display:none}
.Row{display:block;padding:.75rem}
.Row:hover{background:var(--text-background)}
.Grid{display:grid;margin:1.5rem 0;gap:1.5rem;grid-template-columns:var(--i);--card-m:0}

.Button{
    background: var(--brand-color);
    color: #fff;
    padding: .25rem;
    min-height: 2.5rem;
    max-width: 50vw;
    margin: .15rem;
}
.Button:not(.disabled):hover{background:var(--brand-color-75)}
.Button.disabled{background:#8884;color:#fffa}

.less{margin:.5rem}
.r{border-radius:.8rem}
body>.topbar{width:100%}
body>.topbar .go-link{color:inherit}
body>header:not(.topbar-container){padding:1rem;width:100%;color:#fff}
.topbar-container>.Card{width:fit-content;max-width: 15rem;float:right;padding: .5rem;background-color:var(--bg);border-top-left-radius:1.5rem}
.topbar-container>.Card::before{content:'';position:absolute;right:100%;bottom:0;width:1.5rem;height:1.5rem;background:radial-gradient(circle at 0% 0%,#0000 1.5rem,var(--bg) 0)}
body>header>.Heading{font-size:xx-large}
body>header:not(.nomix)>:is(.Heading,.meta),body>header:not(.nomix) .go-link{mix-blend-mode:difference}