<Widget>
    <a Rounded class="action" href="<%=ROOT-%>/archive">
        <h2 space=NoMargin>归档</h2>
    </a>
    <hr>
    <div !center>
        <h3 space=NoMargin>最近的文章</h3>
        <% RecentPosts.forEach(item=>{ -%>
        <a class=action Outline href="<%=ROOT-%><%= item.src -%>"><%= item.title -%></a>
        <% }) -%>
    </div>
</Widget>