<Widget bg="color">
    <h3>Creative Commons</h3>
    <hr>
    <% if(cc.includes("PRIVATE")){ -%>
        <b>私有</b> 这篇文章的版权归原作者所有！
    <%}else -%>
    <% if(cc.includes("0")){ -%>
        <b>0</b> 这篇文章的版权归属于公众领域！
    <%}else{ -%>
    <% if(cc.includes("BY")){ -%>
    <b>BY</b> 你需要在分享此文章时注明原作者.
    <%} -%>
    <% if(cc.includes("SA")){ -%>
    <b>SA</b> 你需要在分享此文章时采用与此文章相同的协议.
    <%} -%>
    <% if(cc.includes("NC")){ -%>
    <b>NC</b> 你不能将此文章用于商业用途.
    <%} -%>
    <% if(cc.includes("ND")){ -%>
    <b>ND</b> 你不能在分享此文章时进行演绎.
    <%} -%>
    <%} -%>
</Widget>
