.wrapper{
    display: flex;
    margin:0px auto;
    padding:2rem 15px;
    max-width: 1200px;
    width: 100%;
}
.wrapper>.wrapperItem.wrapperMain{
    flex:3;
}
.wrapperLeft{
    padding-right:15px;
}
.wrapperRight{
    padding-left:15px;
}
.wrapper>.wrapperItem:not(.wrapperMain){
    flex:1;
}
.wrapperItem>*{
    margin-top: 1em;
}
.wrapperItem>*:first-child{
    margin-top: 0;
}