include /mixins/script.pug
doctype html 
html(lang="zh")
    head 
        +meta(user.note,user.keyword||'About')
        +base()
        include /includes/post_prelude.pug
        title= __title__(post.title,'read')
    body(OCP='OVERRIDE')
        +header()
        #main(class=theme['3rd-bar']&&'multi')
            .content
                .card
                    #markdown_fillContent.container!= post.getParsed('content')
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideAboutPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
        include /components/searchPanel.pug
