doctype html
html 
    head 
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__('Archives',user.name)
    body(OCP='OVERRIDE') 
        nav.topbar-container
            include /includes/topbar.pug
        #main.flex
            - let c = 0
            if theme['side_position']=='right'
                - c = 1
            div(class='sidebar-'+['l','r'][c])
                include /includes/announcement.pug
                include /includes/components/about.pug
            if theme['3rd_bar']
                div(class='sidebar-'+['r','l'][c])
            .content
                each bid in Cycling.value
                    - let item = ID[bid]
                    include /includes/components/postcard.pug
                - let _page_total = Cycling.TotalCount
                - let _page_now = Cycling.LoopTime
                - let _name = 'archive'
                include /includes/pagination.pug