include /mixins/script.pug
doctype html 
html(lang="zh")
    head
        +meta(user.note,user.keyword)
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__(i18n('Home'),user.name)
    body(OCP='OVERRIDE')
        +topbar()
        #main
            .content
                .post-container
                    each bid in sort.defaultOrder
                        - let item = ID[bid]
                        include /components/postcard.pug
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideIndexPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug