include /mixins/script.pug
doctype html 
html(lang="zh")
    head
        +meta(user.note,user.keyword||'')
        +base()
        include /includes/css_iac.pug
        title= __title__(i18n('Home'),user.name)
    body(OCP='OVERRIDE')
        +header()
        #main
            .content
                each bid in sort.defaultOrder.slice(0,10)
                    +postcard(ID[bid])
                if sort.defaultOrder.length>10
                    +foot_navigator(Math.ceil(sort.defaultOrder.length/10),1,'page')
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideIndexPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
        include /components/searchPanel.pug