include /mixins/script.pug
doctype html 
html(lang="zh")
    head 
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__(i18n('Index'),user.name)
    body(OCP='OVERRIDE')
        nav.topbar-container
            include /includes/topbar.pug
        #main
            .content
                .post-container
                    each bid in sort.defaultOrder
                        - let item = ID[bid]
                        include /components/postcard.pug
            include /includes/sidebar.pug
        include /includes/footer.pug