include /mixins/script.pug
doctype html
html
    head 
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__('STATUS',user.name)
    body(OCP='OVERRIDE')
        .topbar-container
            include /includes/topbar.pug
        #main
            .content
                .card.archive.column
                    .heading| Articles
                    = Plugin.postCount
                .card.category.column
                .card.update.column
                    .heading| Update
                    .plain| Build time
                    .plain= date
                .card.theme.column
                    .heading| Theme
                    .plain| Nexo with Arch Theme v0.2
                    .flex.alc.fgap
                        .logo-of-theme
                        != insert_nexo_logo()
                .card.plugin.column
                    .heading| Plugin
                    .plain!=JSON.stringify(Plugin)
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideStatusPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug