include /mixins/script.pug
include /mixins/type_script.pug
doctype html
html 
    head 
        +meta(user.note,user.keyword||i18n('Tags'))
        +base()
        include /includes/css_iac.pug
        title= __title__(i18n('Tags'),user.name)
    body(OCP='OVERRIDE') 
        +header()
        #main
            .content
                .Grid.-NoMob(style="--i: 1fr 1fr")
                    each item in cycling.value
                        - let v = item.value
                        +typecard(v.tagname,v.included.length,ID[v.included[0]].ECMA262Date)
                +foot_navigator(cycling.total,cycling.now,'tag')
            +sidebar2('Type')
        include /includes/footer.pug
        include /components/searchPanel.pug