include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        +gbase()
        +prelude(post)
        +meta(post)
        title= __title__(post.title,'read')
    body.colorful(OCP='OVERRIDE',style='--color1:'+Plugin.getColorByString(post.content)+';--color2:'+Plugin.getColorByString(post.getParsed('content')))
        +gnome_header()
        .intro#intro.tac
            .h1= i18n('About')
        main.content#content
            section
                .block
                    #markdown_fillContent.container!= post.getParsed('content')
        +gnome_footer()
