include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Archives'))
        +gbase()
        title= __title__(i18n('Archives'),user.name)
    body(OCP='OVERRIDE') 
        +gnome_header()
        .intro#intro.tac
            h1= i18n('Archives')
        main.content#content
            - let used_year = []
            - let y = {}
            each bid in cycling.value
                - let post = ID[bid]
                if !used_year.includes(post.datz.y)
                    - y[post.datz.y] = []
                    - used_year.push(post.datz.y)
                - y[post.datz.y].push(bid)
            each v,k in y
                .special
                    h2= k
                ul.intros(style='grid-template-columns:repeat(auto-fill,minmax(480px,1fr))')
                    each item in v
                        +post_li(ID[item])
                +foot_navigator(cycling.total,cycling.now,'archive')
        +gnome_footer()
    style.
        a.block{display:block}