include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,varias.name)
        +base()
        include /includes/css_iac.pug
        title= __title__(varias.name,user.name)
    body(OCP='OVERRIDE')
        +header()
        #main 
            .content
                each bid in cycling.value
                    +postcard(ID[bid])
                +foot_navigator(cycling.total,cycling.now,'category/s'+varias.name)
            +sidebar2('Category')
        include /includes/footer.pug
        include /components/searchPanel.pug