include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,varias.name)
        +gbase()
        title= __title__(varias.name,user.name)
    body(OCP='OVERRIDE')
        +gnome_header()
        .intro#intro.tac
            h1= i18n('Category')+' - '+varias.name
        main.content#content
            ul.intros(style='grid-template-columns:repeat(auto-fill,minmax(480px,1fr))')
                each bid in cycling.value
                    +post_li(ID[bid])
                +foot_navigator(cycling.total,cycling.now,'category/s'+varias.name)
        +gnome_footer()