include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Posts'))
        +gbase()
        title= __title__(i18n('Posts'),user.name)
    body(OCP='OVERRIDE') 
        +gnome_header()
        .intro#intro.tac
            h1= i18n('Posts') + i18n('Page '+cycling.now)
        main.content#content
            ul.intros(style='grid-template-columns:repeat(auto-fill,minmax(480px,1fr))')
                    each bid in cycling.value
                        +post_li(ID[bid])
            +foot_navigator(cycling.total,cycling.now,'page')
        +gnome_footer()
        include /components/searchPanel.pug