include /mixins/script.pug
include /mixins/type_script.pug
doctype html
html 
    head
        +meta(user.note,user.keyword||i18n('Tags'))
        +gbase()
        title= __title__(i18n('Tags'),user.name)
    body.new(OCP='OVERRIDE')
        +gnome_header()
        .intro#intro.tac
            h1= i18n('Categories')
        main.content#content
            ul.intros
                each item in cycling.value
                    +intro_li(item.value)
            hr
            +foot_navigator(cycling.total,cycling.now,'tag')
        +gnome_footer()
        include /components/searchPanel.pug