.com.search
    .openPanel.go-link= i18n('Search')
    #searchUrl= nexo.searchStringUrl
    #searchPanel
        .closeBar.flex.jcc
            .closeButton= i18n('Close Panel')
        .searchBar.flex.jcc
            input.searchInput
            .onSearch= i18n('Search')
        .contentP