dialog.AlertCard#searchPanel
    hr
    .searchBar.flex.jcc
        input.searchInput
        .Button.onSearch= i18n('Search')
    .RowList.contentP
    .Bottom
        .closeButton.f_eaj= i18n('Close Panel')