header.top
    div
        .logo.f_eaj
            if user.logo
                != user.logo
            else
                != nexo.logo()
        nav.index
            ul
                each v in __prov_map||theme.headerObjects
                    li
                        if v[2]
                            a(href=file(v[0]),'$svg'=v[1])
                        else
                            a(href=file(v[0]))= i18n(v[1])