link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css")
script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js")
script(src=file("files/post.js"))
link(rel="stylesheet",href=file("files/post.css"))