.alc,.jcc,.fl,.eaj{display: flex}
.alc,.eaj{align-items: center}
.jcc,.eaj{justify-content: center}
.tac{text-align:center}.col{flex-direction:column}
.jcsa{justify-content:space-around}
.intro,#intro{color:var(--secondary-color)}
body{background:#000!important}
.intro,#intro,footer{margin:0!important}
#content{background:var(--background-color);padding:60px 0 70px}
footer ul{list-style:none;padding:0;margin:0}
footer ul>li{padding:4px}
footer>section.fl{justify-content: space-around}
footer>section.fl>div{display:flex;flex-direction:column;align-items:center}
@media(max-width:700px){header.top>div{padding:0!important}header.top>div>nav{margin:auto}header.top>div>nav li>a{margin-inline:0!important}header.top>div .logo{display:none}}
.logo-of-theme{height:32px;width:80px;background:#824626;color:#fff;display:flex;align-items:center;justify-content:center;}
.logo-of-theme::after{content:'!WACAL~';font-size:16px}
#url,#searchUrl{display:none}
.clist{padding:20px}
.clist hr{visibility:hidden}
.meta>*{margin:4px}.less{margin:12px 0}
.m0{margin:0}.p0{padding:0}.p8{padding:12px}
.mark>b{color:var(--i)!important}
ul.intros>li{max-width:100vw}
#intro h1{margin:0 0 20px;font-size:45px;font-weight:800;hyphens:auto;word-wrap:break-word}