body{--block-backgroundp-color:var(--block-background-color);background:#000!important}
.alc,.jcc,.fl,.eaj{display: flex}.alc,.eaj{align-items: center}
.jcc,.eaj{justify-content: center}.nowrap{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.tac{text-align:center}.col{flex-direction:column}
.jcsa{justify-content:space-around}.jcsb{justify-content:space-between}
.intro,#intro{color:var(--secondary-color)}
:root[ismobile=true] .nomobile{display:none}.fit{width:fit-content}
.intro,#intro,footer{margin:0!important}
#content{background:var(--background-color);padding:60px 0 70px}
footer a{color:inherit;text-decoration:none}
footer ul{list-style:none;padding:0;margin:0}
footer ul>li{padding:4px}
.special h2{margin-top:0;margin-bottom:16px}
@media(max-width:700px){header.top>div{padding:0!important}header.top>div>nav{margin:auto}header.top>div>nav li>a{margin-inline:0!important}header.top>div .logo{display:none}}
.logo-of-theme{height:32px;width:80px;background:#824626;color:#fff}
.logo-of-theme::after{content:'!WACAL~';font-size:16px}
#url,#searchUrl{display:none}
.clist{padding:20px}
.clist hr{visibility:hidden}
.meta>*{margin:4px}.less{margin:12px 0}
.m0{margin:0}.p0{padding:0}.p8{padding:12px}
.mark>b{color:var(--i)!important}
ul.intros>li{max-width:100vw}
#intro h1,#intro .h1{margin:0 0 20px;font-size:45px;font-weight:800;hyphens:auto;word-wrap:break-word}
.footnavi,.pagination{cursor:default;padding-top:2rem}
.footnavi>a{width:40px;height:40px;margin:4px;border-radius:7px}
.footnavi>a,.logo-of-theme{display:flex;align-items:center;justify-content:center}
.footnavi>a:is(:hover,.now){background:var(--tile-hover-color)}
.footnavi>a.disabled{color:var(--header-second-color)}
.pagination{border-top:.5px solid #e5e5e5;font-family:sans-serif;position:relative;text-align:center}
@media(prefers-color-scheme:dark){.pagination{border-top-color:#FFFFFF50}.pagination .arrow{color:#fff}}
.pagination .arrow {color:#555;position:absolute}
.pagination .left{left:0}
.pagination .right{right:0}
body.colorful header.top{background:#fff0;position:absolute}
body.colorful :is(#intro,.intro){color:#111;background:linear-gradient(35deg,var(--color1),var(--color2));width:100%;box-sizing:border-box}
body.colorful header.top>div a{color:#111}
body.colorful header.top>div nav>ul>li a:hover{background:#fff3}
*{-webkit-tap-highlight-color:#0000}