<% if (info.features.hasAnnouncement) { -%>
    <div class="notice widget">
        <div class="widgetHeader">
            <i class="fas fa-bullhorn"></i>
            <span>公告</span>
        </div>
        <div class="cardText announcement">
            <span>
                <%= info.features.announcementText -%>
            </span>
        </div>
    </div>
<% } -%>