<% if (info.features.hasAnnouncement) { -%>
    <div.widget.announcement>
        <div.widgetHeader>
            <i.fas.fa-bullhorn></i>
            <span>公告</span>
        </div>
        <div.widgetContent.announcement>
            <span><%= info.features.announcementText -%></span>
        </div>
    </div>
<% } -%>