<div.widget.cardArchives>
    <a [header] href="/archive/">
        <i.fa-fw.fas.fa-archive></i>
        <span>归档</span>
        <span.widgetHeaderLink><i.fas.fa-angle-right></i></span>
    </a>
    <div.content>
        <h3.m0>最近的文章</h3>
        <each (RECENT_POSTS~item)>
            <div.recent_posts>
                <a href="<@item.src>"><@item.title></a>
            </div>
        </each>
    </div>
</div>