<div class="cardArchives cardLikedItem">
    <div class="cardHeader">
        <i class="fa-fw fas fa-archive"></i>
        <span>归档</span>
        <a class="widgetHeaderLink" href="/archive/"><i class="fas fa-angle-right"></i></a>
    </div>
    <div class="widgetContent">
        <% POSTS.forEach(item=>{ %>
            
        <% }) %>
    </div>
</div>