<nav>
    <span class="blogName">
        <% if (info.lookAndFeel.customSiteTitle != undefined) { -%>
            <%= info.lookAndFeel.customSiteTitle -%>
        <% } else { -%>
            <%= info.name -%>'s Blog
        <% } -%>
    </span>
    <span class="navButton">
        <i class="fas fa-fw fa-bars"></i>
    </span>
    <span class="navItem">
        <div class="menuItems mr">
            <a href="/">
                <i class="fa-fw fas fa-home"></i>
                首页
            </a>
        </div>
        <div class="menuItems mr">
            <a href="/archive/">
                <i class="fa-fw fas fa-archive"></i>
                归档
            </a>
        </div>
        <div class="menuItems mr">
            <a href="/category/">
                <i class="fa-fw fas fa-folder-open"></i>
                分类
            </a>
        </div>
        <div class="menuItems mr">
            <a href="/about/">
                <i class="fa-fw fas fa-heart"></i>
                关于
            </a>
        </div>
    </span>
</nav>