<div class="postCard widget">
    <div class="postCardInfoContainer">
        <% if(item.top=="true") { -%>
            <span class="ontop"></span>
        <% } -%>
        <a href="<%= item.src %>" class="postCardTitle"><%= item.title %></a>
        <div class="postData">
            <span>发布于</span>
            <span><%= item.date %></span>
        </div>
        <div class="lessContentItem">
            <%- item.less %>
        </div>
    </div>
</div>