body{
    font-family: 'Google Sans Text';
    overflow: hidden;
    height: 100vh;
    margin: 0px;
}

hr {
    width: 80%;
}

a {
    color: inherit;
}
toolbar{
    color:var(--basisTextColor);
}
paper{
    overflow: auto;
    height: calc(100% - var(--toolbarHeight));
    background-color: var(--me-color-surface-0);

}
code.hljs {
    border-radius: 8px;
    display: block;
    padding: 8px;
    margin: 8px;
    color: var(--me-color-surface-outline)
}

code, code.hljs {
    background-color: var(--me-color-surface);
    padding: 4px;
}

pagination>*{
    margin: 8px;
    padding: 8px;
    text-decoration: none;
}

pagination .this{
    font-weight: bolder;
    font-size: 20px;
}

pagination .disabled{
    visibility: hidden;
}

.p8{
    padding: 8px;
}
.f1{
    flex: 1;
}
.button,button {
    text-decoration: none;
}
.TA-flexColCentered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TE-poCard-right{
    right: 0;
    justify-content: center;
}
.TE-poCard-imain{
    display: flex;
    margin: var(--g-margin);
    min-height: calc(20* var(--g-unit));
    justify-content: center;
    width: 100%;
}

table {
    text-align: center;
}
hr {
    opacity: .25;
}
*[bg=none]{
    background: transparent;
}
*[bg=color],.bg_cld{
    background-color: var(--primary-background);
}
.ME-Container{
    display: flex;
}
.ME-CardBody{
    border-radius: 0.4rem;
    overflow: hidden;
}
.ME-C,.MA-C{
    text-align: center;
}
.MA-noRound{
    border-radius: 0px !important;
}
.MA-maxWidth{
    width: 100% !important;
}
.MA-maxHeight{
    height: 100% !important;
}
.f_eaj{
    display: flex;
    align-items: center;
    justify-content: center;
}
card.d-post-card,.dIp0-c{
    display: block;
    break-inside: avoid;
    padding: 0px;
    background-color: transparent;
    margin-bottom: 64px;
    overflow: hidden;
}
.d-post-card-a,.dIp0-a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}
.d-post-title,.dIp0-t{
    line-height: 1.2;
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 16px;
}
.d-post-detail,.dIp0-de{
    display: flex;
}
.d-post-container,.dIp0-con{
    column-count: 2;
    column-gap: 48px;
}
.d-post-less,.dIp0-l{
    opacity: .78;
}
.d-post-less>*,.dIp0-l>*{
    margin: 4px;
}
.d-post-less>*:first-child{
    margin-top: 0px;
}
.d-post-date,.dIp0-da{
    font-weight: bolder;
}
.d-status-grid{
    display: grid;
    grid:auto-flow / repeat(2,calc(50% - 16px));
    grid-gap: 16px;
}
card.d-status-c-np{
    position: relative;
}
.d-status-a span.atRB{
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.d-status-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px;
    text-decoration: none;
}
.d-status-c-np{
    padding: 0px;
}
.d-post-image{
    height: 256px;
    width: 100%;
}
.d-post-image img{
    width: 100%;
}