body{
    font-family: 'Google Sans Text';
}

hr {
    width: 80%;
}

a {
    color: inherit;
}

code.hljs {
    border-radius: 8px;
    display: block;
    padding: 8px;
    margin: 8px;
    color: var(--me-color-surface-outline)
}

code, code.hljs {
    background-color: var(--me-color-surface);
    padding: 4px;
}

toolbar{
    background: var(--me-color-surface-0);
    align-items: center;
    z-index: 1000;
}

pagination>*{
    margin: 8px;
    padding: 8px;
    text-decoration: none;
}

pagination .this{
    font-weight: bolder;
    font-size: 20px;
}

pagination .disabled{
    visibility: hidden;
}

.button,button {
    text-decoration: none;
}
.TA-flexColCentered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TE-poCard-right{
    right: 0;
    justify-content: center;
}
.TE-poCard-imain{
    display: flex;
    margin: var(--g-margin);
    min-height: calc(20* var(--g-unit));
    justify-content: center;
    width: 100%;
}

table {
    text-align: center;
}
hr {
    opacity: .25;
}
*[bg=none]{
    background: transparent;
}
*[bg=color],.bg_cld{
    background-color: var(--primary-background);
}
.ME-Container{
    display: flex;
}
.ME-CardBody{
    border-radius: 0.4rem;
    overflow: hidden;
}
.ME-C,.MA-C{
    text-align: center;
}
.MA-noRound{
    border-radius: 0px !important;
}
.MA-maxWidth{
    width: 100% !important;
}
.MA-maxHeight{
    height: 100% !important;
}
.ME-Paper{
    scroll-snap-type: y mandatory;
}
.ME-Paper>*{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.ME-CardBody>.ME-Title{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin:0.4rem;
}
.ME-CardFrame{
    margin: 0.4rem;
}
.M3tk-HlClick,.MA-HlClick{
    overflow: hidden;
}
.ME-GridLayout{
    display: grid;
}
.atLB{
    position: absolute;
    bottom:0px;
    left:0px;
}
.f_eaj{
    display: flex;
    align-items: center;
    justify-content: center;
}
body[shrink="false"] .mId0-hl{
    background: transparent;
}
body[shrink="false"] .mId0-hl>icon{
    background: var(--me-color-secondary-container);
}
.d-post-card,.dIp0-c{
    display: block;
    break-inside: avoid;
    padding: 48px;
    background-color: transparent;
    margin-bottom: 64px;
}
.d-post-card-a,.dIp0-a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.d-post-title,.dIp0-t{
    line-height: 1.2;
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 16px;
}
.d-post-detail,.dIp0-de{
    display: flex;
}
.d-post-container,.dIp0-con{
    column-count: 2;
    column-gap: 48px;
}
.d-post-less,.dIp0-l{
    opacity: .78;
}
.d-post-less>*,.dIp0-l>*{
    margin: 4px;
}
.d-post-less>*:first-child{
    margin-top: 0px;
}
.d-post-date,.dIp0-da{
    font-weight: bolder;
    padding: 8px;
}
.d-status-grid{
    display: grid;
    grid:auto-flow / repeat(2,calc(50% - 16px));
    grid-gap: 16px;
}
card.d-status-c-np{
    position: relative;
}
.d-status-a span.atRB{
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.d-status-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px;
    text-decoration: none;
}
.d-status-c-np{
    padding: 0px;
}